@media(max-width: 360px) {
    .one-student-box {
        width: 290px;
    }

    .one-student-box h2 {
        font-size: 20px;
    }
}

@media(max-width: 315px) {
    .one-student h1 {
        text-align: center;
    }
}