@media(max-width: 360px) {
    .one-user-box {
        width: 290px;
    }

    .one-user-box h2 {
        font-size: 20px;
    }

    .one-user-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 315px) {
    .one-user h1 {
        text-align: center;
    }
}