@media (max-width: 1335px) {
    .security-error h1 {
        text-align: center;
    }
}

@media (max-width: 800px) {
    .security-error h1 {
        font-size: 40px;
    }
}

@media (max-width: 625px) {
    .errors h1 {
        text-align: center;
    }
}

@media (max-width: 450px) {
    .errors h1 {
        font-size: 40px;
    }
}

@media (max-width: 350px) {
    .errors h1 {
        font-size: 30px;
    }
}

@media (max-width: 400px) {
    .security-error h1 {
        font-size: 30px;
    }
}