main {
    background: linear-gradient(rgba(0, 0, 0, 0.238), rgba(0, 0, 0, 0.472)),
    url("../../images/background/hogwarts-admin-background-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Main Heading section */
.main-heading h1 {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    color: rgb(238, 238, 238);
    font-size: 30px;
}

/* Students List Section */
.all-students {
    gap: 20px;
    padding-bottom: 30px;
}

.one-student {
    width: 250px;
    height: 150px;
    background-color: rgba(250, 235, 215, 0.849);
    text-align: center;
    border-radius: 10px;
    transition: all 0.3s linear;
}

.one-student:hover {
    transform: scale(1.05);
}

.one-student a {
    text-decoration: none;
    font-size: 20px;
    padding: 5px 20px;
    background-color: #a17e20;
    color: #ffffff;
    margin-top: 15px;
}

/* Error Section */
.errors {
    font-size: 50px;
    color: #ffffff;
    letter-spacing: 2px;
    text-align: center;
}