main {
    background: linear-gradient(black, rgb(5, 5, 76));
}

.security-error h1 {
    text-align: center;
    color: #ffffff;
    padding-top: 50px;
}

/* Delete form Section */
.delete-form {
    animation: shadow 1s alternate infinite;
}

.delete-form form {
    width: 300px;
    height: 150px;
    text-align: center;
}

.delete-form p {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 20px;
}

.btns {
    width: 100%;
}

.btns button {
    cursor: pointer;
    color: #ffffff;
    background-color: red;
    padding: 5px 10px;
    border: none;
}

.btns a {
    text-decoration: none;
    color: #ffffff;
    background-color: #a17e20;
    padding: 5px 10px;
}

/* Keyframes */
@keyframes shadow {
    0% {
        box-shadow: 0px 0px 1px red;
    }

    100% {
        box-shadow: 0px 0px 20px red;
    }
}