main {
    min-height: 100vh;
    background: linear-gradient(black, rgb(5, 5, 76));
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

form {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

form input, form textarea {
    background: none;
    border: none;
    border-bottom: 1px solid #ffffff;
    font-size: 20px;
    color: #ffffff;
    padding: 15px;
    outline: none;
}

form input {
    width: 270px;
}

form textarea {
    width: 555px;
}

.label-text {
    color: red;
}

#choose-file-text {
    color: #ffffff;
    text-align: center;
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 15px;
    background-color: #5e3333;
    font-size: 20px;
    line-height: 30px;
    cursor: pointer;
    transition: all .3s linear;
}

#choose-file-text:hover {
    color: #ffda00;
}

#profile_image {
    display: none;
}

input[type="submit"] {
    background-color: #ad8924;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s linear;
}

input[type="submit"]:hover {
    background-color: #c29a2b;
}

.add-form ul {
    list-style-type: none;
    color: red;
    font-size: 20px;
}