main {
    background: linear-gradient(rgba(0, 0, 0, 0.468), rgba(0, 0, 0, 0.523)),
                url("../../images/layout/hogwarts-admin-background-2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.profile-image {
    border: 2px solid rgba(183, 186, 186, 0.77);
    border-radius: 75px;
    margin-bottom: 20px;
}

.profile-image img {
    border-radius: 50%;
}

.one-user {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.one-user-box {
    width: 350px;
    min-height: 130px;
    background-color: rgba(250, 232, 215, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.td-head {
    font-weight: 700;
    border-right: 1px solid gray;
}

.td-contents, .td-head {
    border-bottom: 1px solid gray;
    padding: 5px 10px;
    text-align: center;
}

.one-user-buttons a {
    text-decoration: none;
    font-size: 20px;
    padding: 5px 10px;
    color: #ffffff;
    display: inline-block;
    margin-top: 10px;
}

.edit-one-user {
    background-color: #a17e20;
}

.delete-one-user {
    background-color: rgb(189, 31, 31);
}

