RewriteEngine On
RewriteBase /

# Pokud požadovaný soubor nebo složka neexistuje
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Předání požadavku index.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]