/* Registration form section */
.registration-form {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(#000000, rgba(0, 0, 0, 0.559)),
                url("../../../images/layout/background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.registration-form h1 {
    color: #ffffff;
    font-size: 45px;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.registration-form form {
    text-align: center;
}

input::placeholder {
    color: rgb(178, 178, 178);
}

.reg-input {
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    font-size: 20px;
    padding: 5px 10px;
    margin-bottom: 15px;
    text-align: center;
}

.btn {
    width: 263px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    padding: 5px 10px;
    background: #a17e20;
    color: #ffffff;
    margin-top: 15px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.btn:hover {
    background: #be9524;
}

.registration-form ul {
    list-style-type: none;
    color: red;
    font-size: 20px;
}