* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Security Section */
.security-error {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.security-error h1 {
    font-size: 50px;
    letter-spacing: 2px;
    color: #fff;
}