/* --- ZÁKLADNÍ STYLY --- */

nav {
    height: 70px;
}

.custom-navbar {
    background-color: #000;
    font-family: "Times New Roman", serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 70px;
}

.logo img {
    width: 50px;
}

.menu-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
    display: none;
    z-index: 1002;
}

/* --- NAVIGAČNÍ ODKAZY --- */

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ffda00;
}
