nav {
    height: 70px;
}

.logo {
    flex-grow: 1;
}

.logo img {
    width: 50px;
    margin-left: 20px;
}

.navbar {
    background-color: #000000;
    font-family: Futura, sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav-item {
    float: right;
}

.nav-link {
    color: #ffffff;
    transition: all .3s linear;
}

.nav-link:hover {
    color: #ffda00;
}

/* Submenu styling */
.dropdown-menu {
    background-color: #000;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    box-shadow: none;
}

.dropdown-menu .dropdown-item {
    color: #ffffff;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 600;
    transition: background-color .3s ease, color .3s ease;
}

.dropdown-menu .dropdown-item:hover {
    background-color: transparent;
    color: #ffda00;
}

/* Tlačítko Žáci (dropdown-toggle) */
.navbar-nav .dropdown-toggle::after {
    margin-left: 0.5em;
    vertical-align: middle;
}