main {
    min-height: 100vh;
    background: linear-gradient(black, rgb(5, 5, 76));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.student-null h1 {
    color: #fff;
    text-align: center;
    font-size: 50px;
    letter-spacing: 2px;
}

form {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

form input, form textarea {
    background: none;
    border: none;
    border-bottom: 1px solid #ffffff;
    font-size: 20px;
    color: #ffffff;
    padding: 15px;
    outline: none;
}

form input {
    width: 270px;
}

form textarea {
    width: 555px;
}

.label-text {
    color: red;
}

input[type="submit"] {
    background-color: #ad8924;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s linear;
}

input[type="submit"]:hover {
    background-color: #c29a2b;
}

.add-form ul {
    list-style-type: none;
    color: red;
    font-size: 20px;
}